@model ETrade.Dto.Dto.Product.ProductSearchDto
@{

}

@section styles{
    <style>
    </style>
}

@section scripts{
    <script>
        $(function () {
            if ('@(TempData["ResultMessage"])' != '')
            {
                toastr.success('@(TempData["ResultMessage"])');
            }

            $("#grdList").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#grdList_wrapper .col-md-6:eq(0)');

            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //    "responsive": true,
            //});
        });

        function Search() {
            var frm = $("#frmSearch").serialize();

            //Anonim function ile callback fonksiyonunu yazdık.
            AjaxRequest('@Url.Action("Search", "Product")', frm, function callback(result) {
                var divList = $("#divList");
                divList.html(result.list);
            });
        }
    </script>
}


@using (Html.BeginForm("Search", "Product", FormMethod.Get, new { @id = "frmSearch" }))
{
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Arama Kriterleri</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                @Html.LabelFor(p => p.CategoryId, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-3">
                    @Html.DropDownListFor(p => p.CategoryId, new SelectList(Model.CategoryList, "Id", "Name"), "Seçiniz..", new { @class = "form-control" })
                </div>

                <div class="col-sm-1"></div>

                @Html.LabelFor(p => p.SupplierId, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-3">
                    @Html.DropDownListFor(p => p.SupplierId, new SelectList(Model.SupplierList, "Id", "Name"), "Seçiniz..", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(p => p.Name, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(p => p.Name, new { @class = "form-control", @placeholder = "Ürün Adı" })
                </div>

                <div class="col-sm-1"></div>

                @Html.LabelFor(p => p.InPriceStart, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-1">
                    @Html.TextBoxFor(p => p.InPriceStart, new { @class = "form-control", @placeholder = "Başlangıç" })
                </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(p => p.InPriceEnd, new { @class = "form-control", @placeholder = "Bitiş" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(p => p.OutPriceStart, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-1">
                    @Html.TextBoxFor(p => p.OutPriceStart, new { @class = "form-control", @placeholder = "Başlangıç" })
                </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(p => p.OutPriceEnd, new { @class = "form-control", @placeholder = "Bitiş" })
                </div>

                <div class="col-sm-1"></div>

            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <input type="button" class="btn btn-primary" id="btnSearch" value="Ara" onclick="Search();" />
            <a href="~/Product/AddEdit" class="btn btn-success">Yeni Ekle</a>
        </div>
        <!-- /.card-footer-->
    </div>
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Ürün Listesi</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="divList">
            @Html.Partial("_List", Model)
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        @*<button type="submit" class="btn btn-primary">Submit</button>*@
    </div>
    <!-- /.card-footer-->
</div>

