
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Index</h2>

        @Html.ActionLink("Success'e git", "Success", "ResultType") <br />
        @Html.ActionLink("SuccessNew'e git", "SuccessNew", "ResultType") <br />
        @Html.ActionLink("RedirectToActionSample'e git", "RedirectToActionSample", "ResultType") <br />
        @Html.ActionLink("RedirectToRouteSample'e git", "RedirectToRouteSample", "ResultType") <br />
        @Html.ActionLink("RedirectSample'e git", "RedirectSample", "ResultType") <br />
        @Html.ActionLink("FileSample'e git", "FileSample", "ResultType") <br />
        @Html.ActionLink("JsonSample'e git", "JsonSample", "ResultType") <br />
    </div>
</body>
</html>
